/* Jonathan Cordova */
body {
	background-color:#000;
	font-family: Arial, "Serif";
	
}


#header{
	margin:5px auto 0;
	height:250px;
	background-color:#279527;
	color:#00F;
	position:relative;
	z-index:3;
	width:1250px;
	background-image:url(Imagenes/header.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}
#logo{
	margin-left:10px;
}
/* menu */
ul, ol{
	list-style:none;
}
.menu li a {
	background-color:#091f64;
	color:#FFF;
	text-decoration:none;
	padding:10px 15px;
	display:block;
}
.menu > li {
	float:left;
}
.menu li a:hover{
	background-color:#000;
	text-decoration: underline;
}
.menu li ul{
	display:none;
	position:absolute;
	min-width:140px;
}
.menu li:hover > ul{
	display:block;
}
/* fin de menu */

#titulo_header{
	text-align:center;
}

#content{
	margin:5px auto 0;
	width:1230px;
	min-height:1000px;
	overflow:auto;
	background-color:#DADADA;
	text-align:center-left;
	padding:10px 10px 10px 10px;
}

#footer{
	margin:5px auto 0;
	height:100px;
	background-color:#009100;
	color:#00F;
	position:relative;
	z-index:3;
	width:1250px;
}
#footer a{
	color:#FFF;
	font-style:normal;
	list-style:none;
	margin-left:10px;
}
#footer a:hover{
	color:#FF0;
}
.slider{
	width:50%;
	margin:4px auto 0;
	overflow:hidden;
}
.slider ul{
	display: flex;
	padding: 0;
	width:400%;
	
	animation: cambio 20s infinite alternate linear;
}
.slider li{
	width:100%;
	list-style:none;
}
.slider img{
	width: 100%;
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}
	
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}
	
	50%{margin-left: -200%;}
	70%{margin-left: -200%;}
	
	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
	
}